* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    background-color: #000;
}

.mhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #56042C;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEC310;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

thead {
    background-color: #56042C;
    color: rgb(255, 255, 255);
}

th, td {
    padding: .3rem;
    text-align: center;
}

tbody {
    background-color: rgb(255, 255, 255);
}

select {
    width: 100%;
    padding: .5rem;
    border: 1px solid #56042C;
    border-radius: 5px;
    margin-bottom: 1rem;
}