* {
    font-family: Helvetica;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 650px;
    border: none;
    background-color: #9738FD;
    color: white;
    border-radius: 10px;
}

nav {
    border: none;
    background-color: #9EFD38;
    color: white;
    border-radius: 10px;
}

form {
    align-content: center;
    width: 300px;
    background-color: #9EFD38;
    border-radius: 20px;
    color: white;
}

img {
    width: 100px;
    background-color: #FD383C;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

input {
    border-radius: 10px;
}

iframe {
    width: 420px;
    height: 230px;
    background-color: #FD383C;
    border-radius: 10px;
    color: white;
}

button {
    border: none;
    background-color: #FD383C;
    color: white;
    border-radius: 10px;
}

@media (max-width: 720px) {
    * {
        font-family: Helvetica;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
    }   
            
    iframe {
        width: 240px;
        height: 125px;
        background-color: #FD383C;
        border-radius: 5px;
        color: white;
        }

    img {
        width: 100px;
        background-color: #FD383C;
        color: white;
    }

    table {
        width: 100px;
        border: none;
        background-color: #9738FD;
        color: white;
    }
}